@media (max-width: 991.98px) {
    .hero {
        margin-bottom: 8vh;
    }
    .hero .container {
        padding: 0;
    }
    .hero__img {
        height: 100vh;
    }
    .main-title,
    .hero__desc {
        padding: 0 15px;
    }
    .main-title {
        font-size: 4.25rem;
    }
    .hero__body {
        margin-top: auto;
        max-width: 100%;
        border-radius: 0;
        transform: translateY(0);
        box-shadow: 0 0 0 0;
    }
    .hero-item__title {
        font-size: 1.625rem;
    }
    .hero-item__desc {
        font-size: 1.375rem;
    }
}

@media (max-width: 767.98px) {
    .container {
        padding: 0 40px;
    }
    .main-title {
        font-size: 3.75rem;
    }
}

@media (max-width: 575.98px) {
    .container {
        padding: 0 15px;
    }
    .hero .container {
        padding-top: 60px;
    }
    .main-title {
        font-size: 3.25rem;
    }
    .hero__desc {
        font-size: 1.375rem;
    }
    .hero__body {
        padding: 30px 30px 0;
    }
    .hero__item:not(:last-child) {
        margin-bottom: 30px;
    }
    .hero__item > .hero-item__label.label {
        padding-bottom: 24px;
    }
    .hero-item__title {
        font-size: 1.375rem;
    }
    .hero-item__plus {
        width: 24px;
        height: 24px;
    }
    .hero-item__desc {
        margin-bottom: 30px;
        font-size: 1.125rem;
    }
}

@media (max-width: 479.98px) {
    .main-title {
        font-size: 3rem;
    }
}